$toolbarHeight: 48px;

.page-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $toolbarHeight;
  background: #f8f8fb;
  border-bottom: 1px solid #e5e5ef;
  z-index: 1100;
  display: flex;
  align-items: center;
}

.bg-home {
  position: relative;
  top: $toolbarHeight;
  height: calc(100vh - $toolbarHeight);
  display: flex;
  overflow: hidden;
}
