$navbarHeight: 64px;

.navbar {
  padding: 0;
  background: none rgb(243, 240, 236);
  box-shadow: rgb(45 43 36 / 20%) 0px 0px 20px 0px;

  .navbar-brand {
    text-transform: capitalize;
  }

  .navbar-nav {
    justify-content: stretch;
    align-items: stretch;
    height: $navbarHeight;

    .nav-item {
      line-height: $navbarHeight;

      .active,
      &.active .nav-link,
      &:hover {
        color: rgb(230, 113, 110);
      }

      &.active .nav-link {
        background: rgb(36, 32, 72);
        color: #fff;
      }
    }
  }
}
